{
    "5c8a38b79c0e": {
        "sysname": "leaf01",
        "mgmt_ip": "192.168.0.11",
        "passwd": "comware",
        "mgmt_subnet": "{{ wbench_eth1_mask }}",
        "local_user": "comware",
        "fanDirection": "port-to-power",
        "tftpServer": "{{ wbench_eth1_ip }}",
        "gateway": "{{ wbench_eth1_ip }}"
    },
    "5c8a38cc8dae": {
        "sysname": "spine01",
        "mgmt_ip": "192.168.0.21",
        "passwd": "comware",
        "mgmt_subnet": "{{ wbench_eth1_mask }}",
        "local_user": "comware",
        "fanDirection": "port-to-power",
        "tftpServer": "{{ wbench_eth1_ip }}",
        "gateway": "{{ wbench_eth1_ip }}"
    }
}
