

	                                      .o8
	                                     "888
	oooo    ooo  .ooooo.   .ooooo.   .oooo888   .ooooo.   .ooooo.
	 `88.  .8'  d88' `88b d88' `88b d88' `888  d88' `88b d88' `88b
	  `88..8'   888   888 888   888 888   888  888   888 888   888
	   `888'    888   888 888   888 888   888  888   888 888   888
	    `8'     `Y8bod8P' `Y8bod8P' `Y8bod88P" `Y8bod8P' `Y8bod8P'

                                                  o8o
                                                  `"'
          ooo. .oo.  .oo.    .oooo.    .oooooooo oooo   .ooooo.
          `888P"Y88bP"Y88b  `P  )88b  888' `88b  `888  d88' `"Y8
           888   888   888   .oP"888  888   888   888  888
           888   888   888  d8(  888  `88bod8P'   888  888   .o8
          o888o o888o o888o `Y888""8o `8oooooo.  o888o `Y8bod8P'
                                      d"     YD
                                      "Y88888P'


                          # Created by Ansible #

                          Welcome to {{ ansible_hostname }}


 
